/logs/
*.log
/config/secrets.json
.env
.idea
shikshalokam_mohini/**/__pycache__/
build/
.envrc
dist/
**__pycache__/
.sonar_lock
report-task.txt

.coverage


.deepeval/
graphify-out/
config/qa-dev-prod-mitra-bucket.json
.vscode/
.claude/
.venv/
client_secret.json