{% extends "admin/change_list.html" %} {% load i18n admin_urls static admin_list
%} {% block object-tools-items %} {{ block.super }}
<li style="list-style-type: none">
  <a
    href="{% url 'admin:chatbot_i18ntag_export_s3' %}"
    class="btn btn-primary"
    style="
      background-color: #417690;
      color: white;
      padding: 8px 15px;
      border-radius: 4px;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: 5px;
    "
  >
   Upload
  </a>
</li>
{% endblock %}
